<!--The content below is only a placeholder and can be replaced.-->
<div class=" container">
  <div style="text-align:center" class=" col-md-10 offset-md-1 pd-all">
    <h5 style=" color:#0A2F5A;">
      Select Category to start your Fundraising
    </h5>
  </div>
  <div>
    <div class="row col-md-10 offset-md-1">
      <div *ngFor="let category of categories" class="col-lg-2 col-md-2 mb-4">
        <a [routerLink]="['share',category.id]" type="button" class="btn btn-outline-info waves-effect">
          <figure>
            <img src="assets/img/icons/{{category.image}}" class="img-fluid z-depth-1" alt="1">
            <figcaption>{{category.title}}</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
